
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}


       {% if product.mainTaxon is not null %}
        {% set taxon = product.mainTaxon %}
        {% set ancestors = taxon.ancestors|reverse %}
        {% else %}
        {% set taxon = '#' %}
        {% set ancestors = '#' %}
        {% endif %}
              <div class="product-item hover-trigger">
                <div class="product-img">
                  <a href="shop-single.html">
                    {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
                  </a>
                  <div class="product-label">
                    <!--<span class="sale">sale</span>-->
                  </div>
                  <div class="hover-overlay">                    
                    <div class="product-actions">
                      <!--<a href="#" class="product-add-to-wishlist">
                        <i class="fa fa-heart"></i>
                      </a>-->
                    </div>
                    <div class="product-details valign">
                      <span class="category">
                        <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">{{ product.mainTaxon }}</a>
                      </span>
                      <h3 class="product-title">
                        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">{{ product.name }}</a>
                      </h3>
                      <span class="price">
                        <!--<del>
                          <span>$730.00</span>
                        </del>-->
                        {% if not product.variants.empty() %}
                <span style="color:white" class="amount">{{ money.calculatePrice(product|sylius_resolve_variant) }}</span>
                        {% endif %}
                       
                      </span>
                      <div class="btn-quickview">
                        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="btn btn-md btn-color">
                        <span>Buy Now</span>
                      </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}