<div class="">
    <div class="row items-grid">
        {% for product in products %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
    {% if 0 == loop.index % 4 %}
    </div>
    <div class="row">
    {% endif %}
        {% endfor %}
    </div>
</div>
