{% import '@SyliusAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}

{% set breadcrumbs = [
    { label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },
    { label: 'supplier'|trans, url: path('sylius_admin_supplier_index') },
    { label: supplier.name }
] %}

{{ breadcrumb.crumble(breadcrumbs) }}
