{% extends '@SyliusShop/layout-with-slider.html.twig' %}
{% block content %}

<div class="row heading-row" style="margin-top: 25px;">
            <div class="col-md-12 text-center">
              <span class="subheading">{{ 'sylius.ui.latest_products'|trans }}</span>
              <h2 class="heading bottom-line">
                trendy products
              </h2>
            </div>
  </div>

{{ render(url('sylius_shop_partial_product_index_latest', {'count': 8, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% endblock %}
