{% set ancestors = taxon.ancestors|reverse %}


</div>
<div class="full">
<section class="page-title text-center bg-light">
            <div class="container relative clearfix">
                <div class="title-holder">
                    <div class="title-text">
                        <h1 class="uppercase">{{ taxon.name }}</h1>
                        <div class="sub header">{{ taxon.description }}</div>
                        <div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    {% for ancestor in ancestors %}
        {% if ancestor.root %}
            <div class="section">{{ ancestor.name }}</div>
        {% else %}
            <a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}" class="section">{{ ancestor.name }}</a>
        {% endif %}
    <div class="divider"> / </div>
    {% endfor %}
    <div class="active section">{{ taxon.name }}</div>
</div>
                    </div>
                </div>
            </div>
        </section>
</div>
<div class="ui container" style="margin-top:20px;">