

							<div class="row mb-50" style="padding-top: 30px;">
								<div class="col-md-6 col-sm-12">
									<div id="sylius-coupon">
									    <div class="ui coupon action input">
									        {{ form_widget(form, {'attr': {'placeholder': 'sylius.ui.enter_your_code'|trans~'...'}}) }}
									        <button type="submit" id="sylius-save" class="ui teal icon labeled button"><i class="ticket icon"></i> {{ 'sylius.ui.apply_coupon'|trans }}</button>
									    </div>
									    <br>
									    {{ form_errors(form) }}
									</div>
								</div>

								<div class="col-md-6">
									<div class="actions">
										<input type="submit" id="sylius-cart-update" name="update_cart" value="Update Cart" class="btn btn-lg btn-stroke">
										<div class="wc-proceed-to-checkout">
											<a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-lg btn-dark"><span>{{ 'sylius.ui.checkout'|trans }}</span></a>
										</div>
									</div>
								</div>
							</div>
