
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

                <div class="row">

                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="cart_totals">
                                <h2 class="heading relative bottom-line full-grey uppercase mb-30">{{ 'sylius.ui.summary'|trans }}</h2>
                                 {{ sonata_block_render_event('sylius.shop.cart.summary.totals', {'cart': cart}) }}
                                <table class="table shop_table">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>{{ 'sylius.ui.tax'|trans }}</th>
                                            <td>
                                                <span class="amount" id="sylius-cart-tax-total">{{ money.convertAndFormat(cart.taxTotal) }}</span>
                                            </td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>{{ 'sylius.ui.shipping'|trans }}</th>
                                            <td>
                                                <span id="sylius-cart-shipping-total">{{ money.convertAndFormat(cart.shippingTotal) }}</span>
                                            </td>
                                        </tr>
                                        {% if cart.orderPromotionTotal %}
                                        <tr class="order-total">
                                            <th>{{ 'sylius.ui.discount'|trans }}</th>
                                            <td>
                                                <strong><span class="amount" id="sylius-cart-promotion-total">{{ money.convertAndFormat(cart.total) }}</span></strong>
                                            </td>
                                        </tr>
                                        {% endif %}

                                        <tr class="order-total">
                                            <th>{{ 'sylius.ui.order_total'|trans }}</th>
                                            <td>
                                                <strong><span class="amount" id="sylius-cart-grand-total">{{ money.format(cart.total, cart.currencyCode) }}</span></strong>
                                            </td>
                                        </tr>
                                         {% if cart.currencyCode is not same as(sylius.currencyCode) %}
                                            <tr>
                                                <td>{{ 'sylius.ui.base_currency_order_total'|trans }}:</td>
                                                <td id="sylius-cart-base-grand-total" class="right aligned">{{ money.format(cart.total, cart.currencyCode) }}</td>
                                            </tr>
                                        {% endif %}


                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- end col cart totals -->

                    </div>
