{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}




<li class="nav-cart">
                    <div class="nav-cart-outer">
                      <div class="nav-cart-inner">
                        <a href="#" class="nav-cart-icon">
                        {% if cart.empty %}
                         0 
                        {% else %}
                        {{ cart.items|length }}
                         <!--{% transchoice cart.items|length %}sylius.ui.item.choice{% endtranschoice %}-->
                        
                        {% endif %}
                        </a>
                      </div>
                    </div>

<div class="nav-cart-container">
  <div class="nav-cart-items">
    {% if cart.empty %}
        {{ 'sylius.ui.your_cart_is_empty'|trans }}.
    {% else %}
        {% for item in cart.items %}

        <div class="nav-cart-item clearfix">
            <div class="nav-cart-img">
                <a href="#">
                    <img src="http://placehold.it/90x60" alt="">
                </a>
            </div>
            <div class="nav-cart-title">
                <a href="#">
                              {{ item.product }}
                            </a>
                <div class="nav-cart-price">
                    <span>{{ item.quantity }} x</span>
                    <span>{{ money.convertAndFormat(item.unitPrice) }}</span>


                </div>
            </div>
            <div class="nav-cart-remove">
               <!-- <a href="#" class="remove"><i class="ui-close"></i></a> -->
            </div>
        </div>
    {% endfor %}
   

    </div>
    <!-- end cart items -->

    <div class="nav-cart-summary">
        <span>{{ 'sylius.ui.subtotal'|trans }}</span>
        <span class="total-price">{{ money.convertAndFormat(cart.itemsTotal) }}</span>
    </div>

    <div class="nav-cart-actions mt-20">
        <a href="{{ path('sylius_shop_cart_summary') }}" class="btn btn-md btn-dark"><span>{{ 'sylius.ui.view_and_edit_cart'|trans }}</span></a>
        <a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-md btn-color mt-10"><span>{{ 'sylius.ui.checkout'|trans }}</span></a>
    </div>
    {% endif %}
</div>
</li>





