{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}



{% block content %}
</div>
<div class="full">
{% include '@SyliusShop/Cart/Summary/_header.html.twig' %}
</div>
<div class="ui container">

    

    {% if not cart.empty %}
        

        {{ sonata_block_render_event('sylius.shop.cart.summary.after_content_header', {'cart': cart}) }}

        <div class="">
            <div class="row">


            <!-- clear cart button ----->
            <div style="padding-right: 17px;padding-top: 20px;">
                <form method="post" action="{{ path('sylius_shop_cart_clear') }}" >
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(cart.id) }}" />
                    <button type="submit" id="sylius-cart-clear" class="ui right floated basic red button">
                        <i class="fa fa-remove"></i> {{ 'sylius.ui.clear_cart'|trans }}
                    </button>
                </form>
            </div>
            <!---  end clear cart button -->


                {{ sonata_block_render_event('sylius.shop.cart.summary.before_items', {'cart': cart}) }}

                {% include '@SyliusShop/Cart/Summary/_items.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.cart.summary.after_items', {'cart': cart}) }}
            </div>
            <div class="row">
                {{ sonata_block_render_event('sylius.shop.cart.summary.before_totals', {'cart': cart}) }}

                {% include '@SyliusShop/Cart/Summary/_totals.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.cart.summary.after_totals', {'cart': cart}) }}

                <!--{% include '@SyliusShop/Cart/Summary/_checkout.html.twig' %}-->
            </div>
        </div>

        {{ sonata_block_render_event('sylius.shop.cart.summary.before_suggestions', {'cart': cart}) }}

        {% include '@SyliusShop/Cart/Summary/_suggestions.html.twig' %}
    {% else %}
        {{ messages.info('sylius.ui.your_cart_is_empty') }}
    {% endif %}
{% endblock %}
