{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block content %}
 

    <div class="ui stackable two column grid">
        {% include '@SyliusAdmin/Supplier/Show/_header.html.twig' %}

    </div>

   
    {% include '@SyliusAdmin/Supplier/Show/_breadcrumb.html.twig' %}

   

    <div class="ui stackable grid">
        {% include '@SyliusAdmin/Supplier/Show/_content.html.twig' %}
    </div>

    
{% endblock %}
