{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

<div class="eight wide column" id="info">
    <div class="ui fluid card">
        {{ sonata_block_render_event('sylius.admin.customer.show.before_information', {'resource': resource}) }}

        <div class="content">
            <a href="/admin/suppliers/{{supplier.id}}/edit" class="header">
                {{ supplier.name|default('sylius.ui.guest_customer') }}
            </a>
        </div>
        <div class="content">
           {{ supplier.description}}
        </div>


    </div>
</div>
