
<div class="ui segment">
    <form method="get" action="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="ui loadable form">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                {% for filter in products.definition.enabledFilters %}
                    {{ sylius_grid_render_filter(products, filter) }}
                {% endfor %}
            </div>
            <div class="five wide column">
                <div class="ui buttons" style="width:100%;">

                    <input style="width:50%;" type="submit" class="btn btn-md btn-dark" value="{{ 'sylius.ui.search'|trans }}">
                    <a style="width:50%;" href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="clear btn btn-md btn-dark"><span>{{ 'sylius.ui.clear'|trans }}</span></a>
                </div>
            </div>
        </div>
    </form>
</div>
