      <!-- Testimonials -->
      <section class="section-wrap relative testimonials bg-parallax overlay">
        <div class="container relative">

          <div class="row heading-row mb-20">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="heading white bottom-line">Happy Clients</h2>
            </div>
          </div>

          <div id="owl-testimonials" class="owl-carousel owl-theme text-center">

            <div class="item">
              <div class="testimonial">
                <p class="testimonial-text">I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat, every detail has been taken care these team are realy amazing and talented! I will work only with this agency.</p>
                <span>Donald Trump / CEO of Trump organization</span>
              </div>
            </div>

            <div class="item">
              <div class="testimonial">
                <p class="testimonial-text">This is the excellent theme. It has many useful features that can be use for any kind of business. The support is just amazing and design</p>
                <span>John C. Marshall / Art Director</span>
              </div>
            </div>

            <div class="item">
              <div class="testimonial">
                <p class="testimonial-text">Needless to say, beautifully designed theme that serves many purpose. Even more sutomers support is the best! Highly recommend this theme to anyone who enjoys a fine product.</p>
                <span>Matthew Whilson / PR Agent</span>
              </div>
            </div>
          </div>
        </div>

      </section> <!-- end testimonials -->