
<div class="ui fluid labeled four icon item menu">
    <a href="{{ path('sylius_admin_product_index') }}" class="item">
        <i class="cubes icon"></i>
        {{ 'sylius.ui.products'|trans }}
    </a>
    <a href="{{ path('sylius_admin_order_index') }}" class="item">
        <i class="shop icon"></i>
        {{ 'sylius.ui.orders'|trans }}
    </a>
    <a href="{{ path('sylius_admin_customer_index') }}" class="item">
        <i class="users icon"></i>
        {{ 'sylius.ui.customers'|trans }}
    </a>
    
    <a href="{{ path('sylius_admin_promotion_index') }}" class="item">
        <i class="ticket icon"></i>
        {{ 'sylius.ui.promotions'|trans }}
    </a>
</div>

