<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Sylius{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/bootstrap.min.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/sliders.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/shopstyle.css'} %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/font-icons.css'} %}

        

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>


<body class="pushable">
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}
<div class="pusher">
    {% block top %}
        <div id="menu" class="ui large sticky inverted stackable menu">
            {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

            {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
            {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>
    {% endblock %}


    <div class="full">
        {% block header %}
            <header>
                {% include '@SyliusShop/_header.html.twig' %}
                
                {% include '@SyliusShop/Slider/_slider.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
<!--{{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}-->
            </header>
    </div>
    <div class="ui container">


        <section class="section-wrap promo-banners pb-30">
          <div class="row">

            <div class="col-xs-4 col-xxs-12 mb-30 promo-banner color-base">
              <a href="taxons/mugs">
                <img src="/assets/shop/img/shop/collection_1.jpg" alt="">
                
                <div class="promo-inner valign">
                  <h2>Mugs</h2>
                  <span>Best Selling Deals</span>
                </div>
              </a>                        
            </div>

            <div class="col-xs-4 col-xxs-12 mb-30 promo-banner color-base">
              <a href="taxons/stickers">
                <img src="/assets/shop/img/shop/collection_2.jpg" alt="">
                
                <div class="promo-inner valign">
                  <h2>Stickers</h2>
                  <span>Hot Trends</span>
                </div>
              </a>                        
            </div>

            <div class="col-xs-4 col-xxs-12 mb-30 promo-banner color-base">
              <a href="taxons/books">
                <img src="/assets/shop/img/shop/collection_3.jpg" alt="">
               
                <div class="promo-inner valign">
                  <h2>Books</h2>
                  <span>New Collection</span>
                </div>
              </a>                        
            </div>
            
          </div>
      </section>




        {% endblock %}

        {% include '@SyliusUi/_flashes.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

        {% block content %}
        {% endblock %}

        {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
    </div>


    {% include '@SyliusShop/Testimonials/_testimonials.html.twig' %}
    {% include '@SyliusShop/Newsletter/_newsletter.html.twig' %}
    


    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</div>

{% block javascripts %}
    
    
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/jquery.min.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/bootstrap.min.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/plugins.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/scripts.js'} %}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sonata_block_render_event('sylius.shop.layout.after_body') }}
</body>
</html>
 