<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">Add Supplier</h4>
                {{ form_row(form.machineCode) }}
                {{ form_row(form.personCode) }}
                {{ form_row(form.jobNumber) }}
                {{ form_row(form.date) }}
                {{ form_row(form.startTime) }}
                {{ form_row(form.endTime) }}
                {{ form_row(form.qtyProduced) }}
                
        </div>
    </div>
</div>
