<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">Add Supplier</h4>
                {{ form_row(form.personCode) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.fingerprint) }}
                {{ form_row(form.role) }}
        </div>
    </div>
</div>
