{% import 'SyliusUiBundle:Macro:headers.html.twig' as headers %}
<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular user icon"></i>
        <div class="content">
            New Suppliers
            <div class="sub header">
                <div class="ui horizontal divided list">
                    <div class="item">
                       Manage your Supplier
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </h1>
</div>
