{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block content %}

{% include '@SyliusAdmin/Supplier/_header.html.twig' %}


Test content
  
{% endblock %}
